@model IEnumerable<Animax.Models.Comentario>

@{
    ViewData["Title"] = "Index";
}

<h2>Comentários</h2>

<p>
    
</p>

<dl class="row">
    @foreach (var item in Model)
    {
        <dt class="col-sm-3">@Html.DisplayFor(modelItem => item.Autor)</dt>
        <dt class="col-sm-9">@Html.DisplayFor(modelItem => item.Titulo)</dt>

        <dt class="col-sm-3">@Html.DisplayFor(modelItem => item.CreatedDate)</dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(modelItem => item.Descricao)

            <p>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
        </dd>

        

    }
</dl>
<a asp-action="Create" class="btn btn-info" >Adicionar Comentário</a>
    @*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>*@
                    @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
                @*</tr>
            }
        </tbody>
    </table>*@
