@model IEnumerable<Animax.Models.Mensagem>

@{
    ViewData["Title"] = "Index";
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>*@

<tbody>

    @foreach (var item in Model)
    {
        <tr>
            <div class="card">
                <div class="card-header">
                    <h1>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </h1>
                    <div class="card-body">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                    </div>
                </div>
                <div class="card-body">
                    <footer class="blockquote-footer">@Html.DisplayFor(modelItem => item.CreatedDate)</footer>
                    <blockquote class="blockquote mb-0">

                        @Html.DisplayFor(modelItem => item.Descricao)

                    </blockquote>
                </div>
                <footer class="blockquote-footer">Categoria: @Html.DisplayFor(modelItem => item.Anime)</footer>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    
                    <a asp-action="Create" class="btn btn-info">Nova postagem</a>
                </td>
        </tr>
    }
   
</tbody>

